body {
    background-color: #02b3e4;
    font-family: cursive;
}

.title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
    border: 1px solid rgb(146, 151, 146);
    border-radius: 2%;
    background-color: aliceblue;
    height: 700px;
}

.footer {
    text-align: center;
}